// kintoneデフォルトのborderを非表示
.app-index-contents-gaia>.box-gaia,
.contents-bottommenu-gaia {
  border-width: 0;
}

// Foundationフレームワーク
// 使用するスタイルのみをincludeで有効化
@import '~foundation-sites/scss/foundation';

// グリッドだけはdivタグの外で有効化
@include foundation-xy-grid-classes;

// カスタマイズビューのみに適用
#customize-view {
  @include foundation-global-styles;
  @include foundation-button;
  @include foundation-forms;
  @include foundation-table;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

td, th {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem !important;
}

.list-row.row-selected {
  background-color: gray;
}

.button {
  margin: 0.5rem 0 0.5rem 0 !important;
}

.medium-6 {
  height: 100%;
  overflow-y: scroll;
}

.comment {
  border: 1px solid rgb(211, 209, 209);
  min-height: 300px;
  height: auto !important;
  height: 300px;
  width: 100%;
  white-space:pre-wrap;
  word-wrap:break-word;
}